*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background: #060B0E;
}


:root{
scroll-behavior: smooth;

}


.contenedor{
width: 90%;
max-width: 1200;

margin: auto;
padding: 60px 0;
}



header{
    height: 100vh;
    background-image: url(../img/portada.png);
    background-size: cover;
    background-attachment:  fixed;
    background-position:center;
    background-image: black;
   /* position: relative;*/

}

.heady{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


/*
.hamburguer{
    position:fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}*/
.nombre_empresa{
    position:fixed;
    top: 30px;
    left: 100px;
    color: white;
}

.logo{
    position:fixed;
}



.menu-navehacion{
    position:fixed;
    top: 35px;
    right: 150px;
    color: white;
    
/*display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;  */
    
}

.menu-navehacion a{
    color: white;
    text-decoration: none;
    align-items: center;
    margin-left: 10px;
}

.icons{
    position:fixed;
    top: 35px;
    right: 45px;
    
}

.spread{
    transform: translate(0); 
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
    
}


.botonInicio{
    font-weight: 190;
    font-size: 18px;
    font-style: bold;
    border-radius: 50px;
    background: linear-gradient(278.93deg, #00E0AB -34.41%, #006EA3 114.58%);
    border-color:transparent;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    
    
}



.subtitulo{
    text-align: center;
    font-weight: 600;
    color: white;
    margin-bottom:40px;
    font-size: 36px;

}
.subtitulo2{
    text-align: center;
    font-weight: 300;
    color: white;
    margin-bottom:40px;
    font-size: 24px;

}

/*.contenedor-galeria{
    justify-content:space-evenly;
    align-items: center;
    text-align: center;

}*/


.contenedor-servicio{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
     color: white;
     background-color: #061319;
     border-radius: 25px;
     box-shadow: 2px 2px 4px #006B91;
}

.contenedor-servicio img{
    position:relative;
    width: 50%;
    height: 100%;
    margin-right: 10px;
    right: 20px;
    display: block;
    border-radius: 25px 0px 0px 25px;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
    margin-top:18px;
}

.n-service{
    margin-bottom: 7px;
    color:white;

}
 
.number{
    display: inline-block;
    background-image: linear-gradient(278.93deg, #00E0AB -34.41%, #006EA3 114.58%);;
width: 30px;
height: 30px;
color: white;
text-align: center;
border-radius: 50%;
font-weight: 700;
line-height: 30px;
margin-right: 5px;
}



.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*position: relative;*/
    align-items: center;
   
}

.img-galeria{
    margin-top: 50px;  
    margin-right: 50px;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px #006B91;
    cursor: pointer;
}

.img-galeria2{
    margin-top: 50px;
    margin-right: 50px;
    width: 75%;
    display: block;
    margin-bottom: 15px;
    align-items: center;
    box-shadow: 2px 2px 4px #006B91;
    cursor: pointer;
}


/*contenedor imagenes pequeñas**/





.contenedor-imagen {
    margin-top: 50px;  
    margin-right: 50px;
    width: 30%;
    height:100%;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    align-items: center;
    display:flex;
    justify-content: center;
    border-radius: 6px;
   transform: .5s;
  

  }

  .contenedor-imagen:hover .txt{
    transition: all .5s ease-in;
    bottom:190px;
  }

  


  .img-galeria1{
    
    width: 100%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px #006B91;
    height: auto;
    cursor: pointer;
    align-items: center;
    filter:brightness(0.9);
    border-radius: 6px;
   
    border: 1px solid rgb(30, 28, 28);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.img-galeria1:hover{
    transition: all .5s ease-in;
    filter: brightness(0.7); ;
   

    

}

  .txt{
     
      text-align: center;
      margin:auto;
      position:absolute;
      bottom:150px;
      /*background-color: white;*/
      font-size: 32px;
     
    
  }

 
  
  
.txt p {
    
  
    font-weight: 500;
    font-size: auto;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    /* or 62% */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
}

/* contenedores de imagenes grandes*/

  .contenedor-imagen-grande {
    margin-top: 50px;
    margin-right: 50px;
    width: 75%;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    align-items: center;
    display:flex;
    justify-content: center;

  
  }

  .contenedor-imagen-grande:hover .txt-img-grande{
    transition: all .5s ease-in;
    bottom:190px;
  }





  .img-grande-galeria{
    
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px #006B91;
    
    cursor: pointer;
    align-items: center;
    filter:brightness(0.9);
    border-radius: 6px;
    border: 1px solid rgb(30, 28, 28);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.img-grande-galeria:hover{
    transition: all .5s ease-in;
    filter: brightness(0.7) ;
    filter:  blur(2px);
    
}

  .txt-img-grande{
      text-align: center;
      margin:auto;
      bottom:150px;
      position:absolute;
      /*background-color: white;*/
      
      font-size: 32px;

  }
  
.txt-img-grande p {
    
  
    font-weight: 500;
    font-size: auto;
    color: white;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 20px;
/* or 62% */

text-align: center;

color: #FFFFFF;

text-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
    
    
  }





.experts{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-style: normal;
   
    
}

.cont-expert{
    width:30%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    
    
}

.cont-expert img{
    width:80%; 
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    font-weight: 250 ;
}


/*Footer*/

footer{
    background:#111010;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    color:white;
}



.contact-us{
    width: 40%;
    color:white;
}

.brand{
    font-weight: 700;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}




.cont-imagen1 p{
    
    color: rgba(255,255,255,.8);
    display: flex;
    align-items: center;
    position:absolute;
    left:15%;
    top: 28%;
    transform: translate(-50%,-50%);
    font-weight: 300;
    
  
}

.cont-imagen1{
    position:relative;
}


.botonEmail{
    font-weight: 190;
    font-size: 15px;
    font-style: bold;
    border-radius: 0px 5px 5px 0px;
    background: linear-gradient(278.93deg, #00E0AB -34.41%, #006EA3 114.58%);
    border-color:transparent;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    
}

.txtEmail{
    padding: 15px 60px;
    text-decoration: none;
    text-align: center;
}


.social-media-icon{
    color:white;
    padding: 15px 50px;
}


